<div class="sign-up-box">

<div class="name">
  <h1>L I B R O</h1>
  <h2>Find your book, join the discussion.<h2>
</div>

<div class="form">
  <h3>Log In</h3>
  
    <%= form_tag sessions_path do %>
    <p>
      <%= text_field_tag :username, class: 'form' %><br>
    </p>
    <p>
      <%= label_tag :password %><br>
      <%= password_field_tag :password, class: 'form'  %><br>
    </p>
    <p>
      <%= submit_tag 'Log in' %>
    </p>
  <% end %>

</div>

</div>
