<p id="notice"><%= notice %></p>



    <!-- <%= image_tag( GoodreadsAPI.book_by_title(@book.title).image_url)%>
    <%= GoodreadsAPI.book_by_title(@book.title).authors.author.name %>
    <%= GoodreadsAPI.book_by_title(@book.title).description %> -->

<p>
  <strong>Title:</strong>
  <%= image_tag( GoodreadsAPI.book_by_title(@book.title).image_url) %>
</p>

<p>
  <strong>Author:</strong>
  <%= GoodreadsAPI.book_by_title(@book.title).authors.author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= GoodreadsAPI.book_by_title(@book.title).description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
