<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= image_tag(@book.url) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description.html_safe %>
</p>

<br>
<br>

<% @book.chats.each do |chat| %>
<p>
  <%= chat.comment %>
  <br>

  <%= link_to chat.user.username, user_path(chat.user)  %> |
  Added on: <%= localize(chat.created_at, :format => :long) %>

<br>
<br>

</p>
<% end %>

<h3>Join the Conversation...</h3>

<%= render 'chats/form' %>
<%= link_to 'Back', books_path %>
