<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= image_tag(@book.url) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description.html_safe %>
</p>

<h3>Chat</h3>

<% @book.chats.each do |chat| %>
<p>
  <%= chat.comment %>
  <br>
  Added on: <%= localize(chat.created_at, :format => :long) %> |
  Added by: <%= chat.user.username %>
</p>
<% end %>

<h3>New Chat</h3>
<%= render 'chats/form' %>
<%= link_to 'Back', books_path %>

