<!DOCTYPE html>
<html>
<head>
  <title>Libro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>




  <!-- <div class="bg-cover" class="none"></div> -->

  <a class="hamburger-shell">
  	<div class="hamb top"></div>
  		<div class="hamb middle"></div>
  	<div class="menu-name">MENU</div>

  <ul id="menu">
       <li><%= link_to 'Explore', books_path, {:style=>'color: #BCE7FD;',  :class => "css_class"} %></li>
  		 <li><% link_to 'Sign Up', new_user_path, {:style=>'color: #BCE7FD;',  :class => "css_class"} %></li>
       <li><%# link_to_unless(@current_user.nil?, "Profile", user_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"}) %></li>
  		 <li><%= link_to 'Activity', activities_path %></li>
      <li> <%= link_to 'Logout', sessions_path %></li>
  		 <!-- <li>Contact</li> -->
  </ul>


  <body>
    <div class='container'>
       <div class='search-container'>
         <input placeholder='search' type='text'>
         <a class='button'>
          <i class="fa fa-search"></i>
         </a>
       </div>
     </div>
 

  <% unless @current_user.nil? %>

    <header>
      <h1>L I B R O</h1>
        <div class="nav">
          <%= link_to 'Explore', books_path, {:style=>'color: #BCE7FD;',  :class => "css_class"} %> |
          <%= link_to 'Activity', activities_path, {:style=>'color:#BCE7FD;', :class => "css_class"} %> |
          <%= link_to_unless(@current_user.nil?, "Profile", user_path(current_user), {:style=>'color:#BCE7FD;', :class => "css_class"}) %>
        </div>
    </header>

    <% end %>

<%= yield %>


</body>
</html>
