<!DOCTYPE html>
<html>
<head>
  <title>Libro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Slab:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>



<body>


    <i class="fa fa-bars fa-2x"></i>
    <%= link_to 'Sign Up', new_user_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %> | <%= link_to 'Login', root_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %> | <%= link_to 'Profile', user_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>

  <header>
    <h1>L I B R O</h1>
    <div class="nav">

     <%= link_to 'Explore', books_path, {:style=>'color: #BCE7FD;',  :class => "css_class"} %> | <%= link_to 'Activity', activities_path, {:style=>'color:#BCE7FD;', :class => "css_class"} %> | <%= link_to 'Profile', user_path(current_user), {:style=>'color:#BCE7FD;', :class => "css_class"} %>
    </div>
  </header>


<%= yield %>

</body>
</html>
